pandas==1.1.5
sklearn==0.0
absl-py==0.4
astor==0.7.1
certifi==2022.12.7
chardet==3.0.4
gast==0.2.0
grpcio==1.13.0
h5py==2.8.0
idna==2.7
Keras==2.3.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
lxml==4.2.3
Markdown==2.6.11
nltk==3.3
numpy==1.14.5
protobuf==3.6.1
PyYAML==3.13
requests==2.19.1
scipy==1.1.0
six==1.11.0
tensorboard==1.13.0
tensorflow==1.13.1
termcolor==1.1.0
urllib3==1.23
Werkzeug==0.14.1
